<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyConnection" connectionString="Server=192.168.0.60,1433;Database=Firma;User Id=user;Password=1234;"
            providerName="System.Data.SqlClient" />
      <add name="MyConnection1" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Firma;Integrated Security=SSPI;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>